In [1]:
# import dependencies
import datetime as dt
import pandas as pd
import numpy as np
import requests, io, zipfile, os, time
import dask.dataframe as dd
# import urllib.request
# from urllib.error import URLError

In [2]:
# general format of url = "https://s3.amazonaws.com/tripdata/202202-citibike-tripdata.csv.zip"
url_base = 'https://s3.amazonaws.com/tripdata/'

root = 'Resources'

result_files = []
rename_files = []

In [3]:
# year_list = [2022, 2021]
# month_list = [1,2,3]

# select the time period to retrieve the data
##  two years Feb 2021 through Feb 2022 (exclude Jan 2021 in code)
month_list = [1,2,3,4,5,6,7,8,9,10,11,12]
year_list = [2022, 2021]

    
# years and months to loop through
for y in year_list:
    url_year = y
    
    for m in month_list:
        url_month = m
        # exclude Jan 2021
        if url_year == 2021 and url_month ==1:
            pass
        else:
            url_file_prefix = f'{url_year:04d}{url_month:02d}'

            # set up file name
            new_file = url_file_prefix + '.csv'

            # of those discoverd....
            # directory files same through 2016, changed for 2017
            # anomoly with Jun, Jul of 2022        
            url_file_2016a1 = '-citibike-tripdata.zip'
            url_file_2017a1 = '-citibike-tripdata.csv.zip'
            url_file_2022a1 = '-citbike-tripdata.csv.zip'
            url_2022_mon = [6,7]

            # build the proper url to get data from files in the directory
            if url_year == 2022 and url_month in url_2022_mon:
                url = url_base + url_file_prefix + url_file_2022a1
            elif url_year >= 2017:
                url = url_base + url_file_prefix + url_file_2017a1
            elif a == 2:
                url = url_base + url_file_prefix + url_file_2016a1
            print(url) 

            # make request for csv file
            r = requests.get(url)
            un_zipped = zipfile.ZipFile(io.BytesIO(r.content))

            # download only the existing file in the root directory
            with un_zipped as zf:
                for file in zf.namelist():

                    # not in root directory, pass, otherwise save
                    if file.startswith('_'):
                        pass
                    else:
                        zf.extract(file, root)                        
                        result_files.append(file)
                        rename_files.append(new_file)

https://s3.amazonaws.com/tripdata/202201-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202202-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202203-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202204-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202205-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202206-citbike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202207-citbike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202208-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202209-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202210-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202211-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202212-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202102-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202103-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202104-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202105-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202106-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202107-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202108-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202109-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202110-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202111-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/202112-citibike-tripdata.csv.zip

In [ ]:
# url_year = 2022
# url_month = 6

# # directory files same through 2016, changed for 2017
# # anomoly with Jun, Jul of 2022        
# url_file_2016a1 = '-citibike-tripdata.zip'
# url_file_2017a1 = '-citibike-tripdata.csv.zip'
# url_file_2022a1 = '-citbike-tripdata.zip'
# url_2022_mon = [6,7]

# # build the proper url to get data from files in the directory
# if url_year == 2022 and url_month in url_2022_mon:
#     url = url_base + url_file_prefix + url_file_2022a1
# elif url_year >= 2017:
#     url = url_base + url_file_prefix + url_file_2017a1
# elif a == 2:
#     url = url_base + url_file_prefix + url_file_2016a1

# print(url)

In [5]:
result_files

['202201-citibike-tripdata.csv',
 '202202-citibike-tripdata.csv',
 '202203-citibike-tripdata.csv',
 '202204-citibike-tripdata.csv',
 '202205-citibike-tripdata.csv',
 '202206-citbike-tripdata.csv',
 '202207-citbike-tripdata.csv',
 '202208-citibike-tripdata.csv',
 '202209-citibike-tripdata.csv',
 '202210-citibike-tripdata.csv',
 '202211-citibike-tripdata.csv',
 '202212-citibike-tripdata.csv',
 '202102-citibike-tripdata.csv',
 '202103-citibike-tripdata.csv',
 '202104-citibike-tripdata.csv',
 '202105-citibike-tripdata.csv',
 '202106-citibike-tripdata.csv',
 '202107-citibike-tripdata.csv',
 '202108-citibike-tripdata.csv',
 '202109-citibike-tripdata.csv',
 '202110-citibike-tripdata.csv',
 '202111-citibike-tripdata.csv',
 '202112-citibike-tripdata.csv']

In [8]:
rename_files

['202201.csv',
 '202202.csv',
 '202203.csv',
 '202204.csv',
 '202205.csv',
 '202206.csv',
 '202207.csv',
 '202208.csv',
 '202209.csv',
 '202210.csv',
 '202211.csv',
 '202212.csv',
 '202102.csv',
 '202103.csv',
 '202104.csv',
 '202105.csv',
 '202106.csv',
 '202107.csv',
 '202108.csv',
 '202109.csv',
 '202110.csv',
 '202111.csv',
 '202112.csv']

In [7]:
# Function to rename files for clarity and easier looping to combine the data
##  https://www.tutorialspoint.com/rename-multiple-files-using-python

def main():
    for i, file in enumerate(os.listdir(root)):
        source = f'{root}/{result_files[i]}'
        destination = f'{root}/{rename_files[i]}'
        os.rename(source, destination)
# Driver Code
if __name__ == '__main__':     
    # Calling main() function
    main()

In [9]:
# create list for csv reads
path_list = []
for i, csv_file in enumerate(rename_files):
    path = f'{root}/{csv_file}'
    path_list.append(path)

# for curiosity, time taken to read data
## dask documentation from https://www.geeksforgeeks.org/working-with-large-csv-files-in-python/
s_time = time.time()

# Read CSV files from List
df = pd.concat(map(pd.read_csv, path_list))

e_time = time.time()
print("Processed in ", ((e_time-s_time)/60), "minutes")

C:\Users\slaroue\anaconda3\envs\PythonData\lib\site-packages\pandas\core\reshape\concat.py:304: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  sort=sort,
C:\Users\slaroue\anaconda3\envs\PythonData\lib\site-packages\pandas\core\reshape\concat.py:304: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  sort=sort,

Processed in  3.8539342363675435 minutes

In [10]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1748282,714D3CCFB28DC79C,classic_bike,2021-12-06 15:33:18,2021-12-06 15:42:18,E 31 St & 3 Ave,6239.08,W 13 St & 5 Ave,5947.04,40.743943,-73.979661,40.735445,-73.994310,member
1748283,1A2F3968E4A735FB,docked_bike,2021-12-11 14:24:00,2021-12-12 13:58:42,MacDougal St & Washington Sq,5797.01,E 2 St & 2 Ave,5593.02,40.732264,-73.998522,40.725029,-73.990697,casual
1748284,1BD68D08120346F9,classic_bike,2021-12-05 14:15:22,2021-12-05 14:23:28,Schermerhorn St & Court St,4565.04,Warren St & Court St,4413.08,40.691029,-73.991834,40.686371,-73.993833,member
1748285,F7D2A9EAE112CF48,classic_bike,2021-12-31 11:22:45,2021-12-31 11:57:19,Emerson Pl & Myrtle Ave,4683.02,4 Ave & 9 St,3955.05,40.693631,-73.962236,40.670513,-73.988766,member
1748286,E97EDE10E6EE672F,electric_bike,2021-12-20 18:08:26,2021-12-20 18:20:36,Lawrence St & Willoughby St,4596.09,Pike St & E Broadway,5270.05,40.692362,-73.986317,40.714067,-73.992939,member

In [11]:
df.to_csv('full_raw_data.csv')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57256026 entries, 0 to 1748286
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 6.0+ GB

In [100]:
# get a list of start stations and make unique
stype = 'start'
stations_start_df = pd.DataFrame(df, columns=[f'{stype}_station_name',
                                                   f'{stype}_station_id',
                                                   f'{stype}_lat',
                                                   f'{stype}_lng'
                                                  ])
stations_start_df

                   start_station_name start_station_id  start_lat  start_lng
0             Boerum Pl\t& Pacific St          4488.09  40.688489 -73.991160
1                     E 12 St & Ave C          5616.08  40.727243 -73.976831
2                     W 21 St & 6 Ave          6140.05  40.741740 -73.994156
3                      38 St & 30 Ave          6850.01  40.764175 -73.915840
4              Pacific St & Nevins St          4362.04  40.685376 -73.983021
...                               ...              ...        ...        ...
1748282               E 31 St & 3 Ave          6239.08  40.743943 -73.979661
1748283  MacDougal St & Washington Sq          5797.01  40.732264 -73.998522
1748284    Schermerhorn St & Court St          4565.04  40.691029 -73.991834
1748285       Emerson Pl & Myrtle Ave          4683.02  40.693631 -73.962236
1748286   Lawrence St & Willoughby St          4596.09  40.692362 -73.986317

[57256026 rows x 4 columns]

In [101]:
# rename start station columns
stations_start_df = stations_start_df.rename(columns={f'{stype}_station_name' : 'station_name',
                                  f'{stype}_station_id' : 'station_id',
                                  f'{stype}_lat' : 'lat',
                                  f'{stype}_lng': 'lng'
                                  },
                         )

In [102]:
# get a list of end stations and make unique
stype = 'end'
stations_end_df = pd.DataFrame(df, columns=[f'{stype}_station_name',
                                                   f'{stype}_station_id',
                                                   f'{stype}_lat',
                                                   f'{stype}_lng'
                                                  ])

In [103]:
# rename end station columns
stations_end_df = stations_end_df.rename(columns={f'{stype}_station_name' : 'station_name',
                                  f'{stype}_station_id' : 'station_id',
                                  f'{stype}_lat' : 'lat',
                                  f'{stype}_lng': 'lng'
                                  },
                         )

In [104]:
stations_start_df = stations_start_df.drop_duplicates()
stations_end_df = stations_end_df.drop_duplicates()

In [105]:
stations_start_df.shape[0], stations_end_df.shape[0]

(4181113, 5950)

In [106]:
# stations_start_df, stations_end_df

In [114]:
stations_df1 = pd.concat([stations_start_df,stations_end_df]).drop_duplicates(subset=['station_name'], keep='last').reset_index(drop=True)
stations_df1

                                 station_name station_id        lat        lng
0                Schermerhorn St and Court St    4565.04  40.691029 -73.991834
1              Morgan Tech Shop parts testing     SYS030  40.703250 -73.931830
2                              Riverview Park      JC057  40.744319 -74.043991
3                  Willis Ave & Bruckner Blvd    7691.05  40.805701 -73.925177
4                           Sands St & Jay St    4821.03  40.700119 -73.986200
...                                       ...        ...        ...        ...
1897                             Station demo     SYS052  40.604017 -74.019709
1898                                Warren St      JC006  40.721124 -74.038051
1899                       Broadway & W 29 St    6289.06  40.746201 -73.988557
1900  Hoboken Terminal - River St & Hudson Pl      HB102  40.736068 -74.029127
1901               Hoboken Ave at Monmouth St      JC105  40.735208 -74.046964

[1902 rows x 4 columns]

In [1]:
# send stations df to csv file for start stations
path = f'{root}/start_stations.csv'
stations_df.to_csv(path)

NameError: name 'root' is not defined

In [135]:
stations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4181796 entries, 0 to 4181795
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   station_name  object
 1   station_id    object
 2   lat           float64
 3   lng           float64
dtypes: float64(2), object(2)
memory usage: 127.6+ MB

In [124]:
# create start of trip csv file

# columns for reference
##  ride_id	rideable_type	started_at	ended_at	start_station_name	start_station_id
##  end_station_name	end_station_id	start_lat	start_lng	end_lat	end_lng	member_casual

# select data columns
start_df = pd.DataFrame(df, columns={'ride_id',
                                     'rideable_type',
                                     'started_at',
                                     'start_station_name',
                                     'member_casual'
                                    })
# rename data columns
start_df = start_df.rename(columns={'started_at': 'start_time',
                                    'start_station_name': 'start_station',
                                    'member_casual': 'customer'
                                  })
          
             
start_df['start_time'] = start_df['start_time'].astype('datetime64[ns]')

start_df.desc()

,rideable_type,customer,ride_id,start_time,start_station
0,classic_bike,member,55262E4365A955A2,2022-01-18 08:23:52,Boerum Pl\t& Pacific St
1,classic_bike,member,D272F1B15D841EC0,2022-01-21 09:03:22,E 12 St & Ave C
2,classic_bike,member,D1FCEF55EB4A807F,2022-01-22 14:28:32,W 21 St & 6 Ave
3,electric_bike,member,E9CBDC6A0162C068,2022-01-19 14:49:47,38 St & 30 Ave
4,electric_bike,member,2177A5B57326CE9B,2022-01-16 14:36:06,Pacific St & Nevins St

In [126]:
start_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57256026 entries, 0 to 1748286
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   rideable_type  object
 1   customer       object
 2   ride_id        object
 3   start_time     datetime64[ns]
 4   start_station  object
dtypes: datetime64[ns](1), object(4)
memory usage: 2.6+ GB

In [133]:
# send start_df rides to csv file
path = f'{root}/start_ride.csv'
start_df.to_csv(path)

In [131]:
# create end of trip csv file

# columns for reference
##  ride_id	rideable_type	started_at	ended_at	start_station_name	start_station_id
##  end_station_name	end_station_id	start_lat	start_lng	end_lat	end_lng	member_casual

# select data columns
end_df = pd.DataFrame(df, columns={'ride_id',
                                   'rideable_type',
                                   'ended_at',
                                   'end_station_name'
                                   })
# rename data columns
end_df = end_df.rename(columns={'ended_at': 'end_time',
                                'end_station_name': 'end_station'
                                  })
          
             
end_df['end_time'] = end_df['end_time'].astype('datetime64[ns]')

In [132]:
end_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57256026 entries, 0 to 1748286
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   end_time       datetime64[ns]
 1   end_station    object
 2   ride_id        object
 3   rideable_type  object
dtypes: datetime64[ns](1), object(3)
memory usage: 2.1+ GB

In [134]:
# send end_df rides to csv file
path = f'{root}/end_ride.csv'
end_df.to_csv(path)